a {
  text-decoration: none;
}

.spinner-border {
  margin-right: 5px;
  width: 1rem;
  height: 1rem;
}

.usericon {
  width: 30px;
}

ul.dropdown-menu.show {
  left: -60px !important;
}

.single-services .services-thumb img {
  height: 200px;
}

button.navbar-toggler {
  background: url(../src/img/menu.png);
  background-repeat: no-repeat;
}

.nav_item img {
  width: 50px !important;
}